.wrapper {
  max-width: 420px;
  margin: 24px auto;
}

.axes {
  height: 200px;
  width: 400px;
}

.chart {
  position: absolute;
  color: #ffb74c;
}

.chart:first-child {
  color: #bc71c9;
}

.chart:last-child {
  color: #4dc3f7;
}

.links {
  font-size: 15px;
  padding-bottom: 40px;
}

.dialog {
  display: flex;
  align-items: center;
}
