<ion-header>
	<ion-toolbar>
		<ion-title>
			Contact
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header>Follow us on Twitter</ion-list-header>
		<ion-item>
			<a class="link" href="https://twitter.com/waterplea" target="_blank">
				<ion-icon class="icon" name="logo-twitter"></ion-icon>
				waterplea
			</a>
		</ion-item>
		<ion-item>
			<a class="link" href="https://twitter.com/marsibarsi" target="_blank">
				<ion-icon class="icon" name="logo-twitter" item-left></ion-icon>
				marsibarsi
			</a>
		</ion-item>
	</ion-list>
</ion-content>